header {
	width: 100%;
	height: 150px;
	background: #fff;
	z-index: 2;
    position: relative;
}
header hr{
	margin-top:-2px;
	background-color: #7F00FF;
	border-color: #7F00FF;
}
header .container {
	position: relative;
}
header .header-roxo {
    background-color: #7F00FF;
	height: 40px;
	border-radius: 5px;
}
header .header-roxo li {
	display: inline-block;
	margin-right: 30px;
	color: #fff;
	margin-top: 7px;
}

header .social{
	background-color: #fff;
	height: 109px;
}
header .social li{
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 30px;
	margin-right: 10px;
}
header .social li img{
    width: 40px;
}

header #logotipo {
	position: absolute;
	top: 50px;
	height: 70px;
}

.menuFixo {
		position: fixed;
		top: 0;
		z-index: 3;
	}

.menu-cliente{
    display: inline-block;
	color: #fff;
    border-radius: 10px;
    z-index:9;
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
.menu-cliente{
	font-size:10px;
	margin: -70px; 
	margin-top:5px;
	font-weight:bold;
}
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
.menu-cliente{
	font-size:13px;
	margin-left:-20px;
	font-weight:bold;
	margin-top:5px;
}
}
@media only screen and (min-width: 1201px) {
.menu-cliente{
	font-size:16px;
	margin-left:-20px;
	font-weight:bold;
}
}

.sub-menu {
    margin: 0;
    border-radius: 10px;
    text-align:center;
    z-index:9;
}
.clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    visibility: hidden;
    overflow: hidden;
}

.sub-menu {
    list-style: none;
    background: #7F00FF;
}
.sub-menu {
    background: #7F00FF;
}
.menu-cliente a {
    text-decoration: none;
    display: block;
    color: #fff;
}
.menu-cliente a:hover {
	color: #C0C0C0;
	text-decoration:none;

}
.menu-cliente li {
    position: relative;
}
.menu-cliente > li:hover {
    color: #C0C0C0;
}
.menu-cliente li:hover > .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    min-width: 150px;
}
.sub-menu li:hover {
    color: #C0C0C0;
}
.sub-menu .sub-menu {
    top: 0;
    left: 100%;
}
footer {
	margin-top: 110px;
}
footer .row {
	width: 100%;
}
footer .row p {
	line-height: 60px;
	margin-bottom: 0;
}
footer .row-cinza-escuro {
	height: 200px;
	background-color: #fff;
	border-top: #7F00FF 1px solid;
	text-align: center;
}
footer .partner{
	
}
footer .partner li{
	display: inline-block;
}
footer .partner li img{
	width: 100px;
	margin-right: 50px;
	opacity:0.30;
	-moz-opacity: 0.30;
	filter: alpha(opacity=35);
}