/*Tamanho padrão para tablets*/
@media only screen and (min-width: 769px) {
	#btn-bars{
	    display:none;
	}
	#btn-news-prev, #btn-news-next{
	    display:none;
	}
	#list-unstyled,#menu-mobile, #menu-mobile-mask{
	    display:none;
	}
	#mobile-menu{
	    display:none;
	}
	#dl-menu{
	    display:none;
	}
}

@media only screen and (max-width: 768px) {
	.header-roxo ul{
	    display:none;
	}
	.social{
	    display:none;
	}
}


/*Tamanho padrão para smartphones*/
@media only screen and (max-width: 480px) {
    .header-roxo {
        margin-top:-34px;
    }
	.header-roxo ul, #menu{
		display: none;
	}
		#logotipo {
		left:25%;
		margin: 0 auto;
	}
	
	   #btn-bars {
	    color:#fff;
	    font-size:25px;
	    position: absolute;
	    left:0;
	    background:none;
	    border:none;
	}
   .partner{
       display:none;
	
}
   footer{
    margin-top:200px;
    margin-bottom:0px;
}
.copyright-mobile p{
    font-size:20px;
    line-height:0;
}
   footer row p{
       text-align:center;
    line-height: 20px;
}
   footer .text-roxo {
    margin-right:20px;
}
footer .row{
    margin: 0;
}

 
 .dl-menu.dl-animate-out-1 {
	animation: MenuAnimOut1 0.4s linear forwards;
}

@keyframes MenuAnimOut1 {
	50% {
		transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

.dl-menu.dl-animate-in-1 {
	animation: MenuAnimIn1 0.3s linear forwards;
}

@keyframes MenuAnimIn1 {
	0% {
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}


}