header {
	width: 100%;
	height: 150px;
	background: #fff;
	z-index: 2;
    position: relative;
}
header hr{
	margin-top:-2px;
	background-color: #7F00FF;
	border-color: #7F00FF;
}
header .container {
	position: relative;
}
header .header-roxo {
	background-color: #7F00FF;
	height: 40px;
	border-radius: 5px;
}
header .header-roxo li {
	display: inline-block;
	margin-right: 30px;
	color: #fff;
	margin-top: 7px;
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
header .header-roxo li {
	font-size:12px;
	margin-top:12px;
	margin-left:-20px;
	font-weight:bold;
}
header #logotipo {
	position: absolute;
	height: 70px;
	top:50px;
}
}
@media only screen and (min-width: 901px) and (max-width: 1200px) {
header .header-roxo li {
	font-size:15px;
	margin-left:-9px;
	font-weight:bold;
}
header #logotipo {
	position: absolute;
	top: 50px;
	height: 70px;
}
}
@media only screen and (min-width: 1201px) {
header .header-roxo li {
	font-size:18px;
	margin-left:-9px;
	font-weight:bold;
}
header #logotipo {
	position: absolute;
	top: 50px;
	height: 70px;
}
}


header .social{
	background-color: #fff;
	height: 109px;
	z-index:1;
}
header .social li{
	background-repeat: no-repeat;
	display: inline-block;
	margin-top: 30px;
	margin-right: 10px;
}
header .social li img{
	width: 40px;
}

.menuFixo {
		position: fixed;
		top: 0;
		z-index: 9;
	}

.menu{
     margin-right: -30px;
     margin-left: -30px;
    padding: 10;
    border-radius: 10px;
    z-index:9;
}
.sub-menu {
    margin: 0;
    border-radius: 10px;
    text-align:center;
    z-index:9;
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
header .sub-menu li {
	font-size:14px;
}
}
.clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}

.sub-menu {
    list-style: none;
    background: #7F00FF;
}
.sub-menu {
    background: #7F00FF;
}
.menu a {
    text-decoration: none;
    display: block;
    color: #fff;
}
.menu a:hover {
	color: #C0C0C0;
	text-decoration:none;

}
.menu li {
    position: relative;
}
.menu > li {
    float: center;
}
.menu > li:hover {
    color: #C0C0C0;
}
.menu li:hover > .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    min-width: 283px;
}
.sub-menu li:hover {
    color: #C0C0C0;
}
.sub-menu .sub-menu {
    top: 0;
    left: 100%;
}

#menu {
	margin: 12px 0;
}
#menu li {
	display: inline-block;
	font-family: "OpenSans";
}
#menu li.search {
	width: 230px;
}
#menu li.search input {
	background-color: #7F00FF;
	color: #fff;
	border: none;
	height: 30px;
	line-height: 30px;
	padding-left: 8px;
}
#menu li.search ::-webkit-input-placeholder {
	color: #fff;	
}
#menu li.search button {
	background: none;
	border: none;
	position: absolute;
    right: 3px;
    top: 7px;
}
#menu li.search button i {
	font-size: 14px;
	color: rgba(255, 255, 255, .5);
}
#menu li a {
	color: #FFF;
	font-size: 16px;
	padding: 10px 25px;
	font-weight: bold;
}
#menu li.search .input-group {
	top: 8px;
}


#carrosel{
	margin-top: 10px;
}

#call-to-action {
	text-align: center;
	margin-top: 105px;
}
#call-to-action h2 {
	color: #7F00FF;
	font-family: 'OpenSans-Light';
	font-size: 48px;
	text-align: center;
}
#call-to-action hr {
	border:#FDE192 solid 8px;
	width: 200px;
	margin: 0 auto;
}
#call-to-action p {
	margin-top: 10px;
	margin-bottom: 40px;
	color: #656565;
}
#call-to-action .btn {
	min-width: 164px;
    height: 44px;
    line-height: 34px;
    border-radius: 0;
}
#call-to-action .btn-roxo {
    color: #fff;
    background-color: #7F00FF;
    border-color: #7F00FF;
}
#call-to-action .btn-amarelo {
    color: #000;
    background-color: #FDE192;
    border-color: #FDE192;
}
#call-to-action .row-max-400 {
	margin: 0 auto;
	max-width: 400px;
}
#news {
	position: relative;
    top: 50px;
}
#news h2 {
	color:#7F00FF;
	font-family: 'OpenSans-Light';
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
}
#news hr {
	border:#000000;
	width: 100%;
	height: 10px;
}
#news .thumbnails {
	margin-top: 20px;
}
#news .thumbnails h3 {
	color: #7F00FF;
	font-size: 18px;
	font-family: 'OpenSans';
	font-weight: bold;
	margin-bottom: 0;
}
#news .thumbnails time {
	color:#A7A7A7;
	font-size: 18px;
}
#news .thumbnails .item-inner {
	padding:10;
}
#news .thumbnails .item-inner img {
	width:100%;
}
footer {
	margin-top: 110px;
}
footer .row {
	width: 100%;
}
footer .row p {
	line-height: 60px;
	margin-bottom: 0;
}
footer .row-cinza-escuro {
	height: 200px;
	background-color: #fff;
	border-top: #7F00FF 1px solid;
	text-align: center;
}
footer .partner{
	
}
footer .partner li{
	display: inline-block;
}
footer .partner li img{
	width: 100px;
	margin-right: 50px;
	opacity:0.30;
	-moz-opacity: 0.30;
	filter: alpha(opacity=35);
}


/* Shop */
.text-arial-cinza {
	font-family: arial;
	font-size: 12px;
	color: #666;
}
.text-roxo {
	color: #6E3EA4;
}
#destaque-produtos-container {
	position: relative;
}
#destaque-produtos {
	margin: 30px auto;
}
#destaque-produtos .col-imagem {
	text-align: center;
}
#destaque-produtos .col-descricao h2 {
	font-family: arial;
	font-size: 20px;
	color: #666;
	margin-bottom: 10px;
}
#destaque-produtos .col-descricao .box-valor {
	width: 100%;
	position: relative;

}
#destaque-produtos .col-descricao .box-valor .text-reais {
	font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 13px;
    left: 28px;
}
#destaque-produtos .col-descricao .box-valor .text-valor {
	font-size: 50px;
	position: absolute;
    top: -17px;
    left: 54px;
}
#destaque-produtos .col-descricao .box-valor .text-valor-centavos {
	font-size: 30px;
	position: absolute;
    top: -10px;
    left: 182px;
}
#destaque-produtos .col-descricao .btn-comprar {
	font-size: 26px;
	padding: 10px 0;
}
#destaque-produtos .col-descricao .btn-comprar .fa {
	font-size: 34px;
}
#destaque-produtos .col-descricao .text-parcelas {
	margin-top: 20px;
}
#btn-destaque-prev {
    position: absolute;
    top: 140px;
    left: 0;
    background: none;
    border: none;
    font-size: 64px;
	color:#2A2A2A;
	outline:0;
}
#btn-destaque-next {
    position: absolute;
    top: 140px;
    right: 0;
    background: none;
    border: none;
    font-size: 64px;
	color:#2A2A2A;
	outline:0;
}
#promocoes .box-promocao {
	background-color: #6E3EA4;
	width: 100%;
	height: 150px;
	position: relative;
	color: #fff;
	text-align: center;
}
#promocoes .box-promocao.box-1 {
	font-family: arial;
	font-size: 15px;
    font-weight: bold;
    padding: 7px;
}
#promocoes .box-promocao.box-1 p {
	position: absolute;
	top: 58px;
}
#promocoes .box-promocao .text-ate {
	font-size: 20px;
    font-weight: bold;
    font-family: arial;
    position: absolute;
    left: 15px;
    top: 5px;
}
#promocoes .box-promocao .text-numero {
	font-size: 128px;
	font-family: 'OpenSans-Light';
	position: absolute;
    top: -10px;
    left: 15px;
}
#promocoes .box-promocao .text-porcento {
	font-size: 64px;
    font-family: 'OpenSans';
    position: absolute;
    top: 15px;
    right: 1px;
}
#promocoes .box-promocao .text-off {
	font-size: 42px;
    font-family: 'OpenSans-Light';
    position: absolute;
    top: 78px;
    right: 3px;
}