/*Tamanho padrão para Computadores*/
@media only screen and (min-width: 1000px) {
	#btn-bars{
	    display:none;
	}
	#btn-news-prev, #btn-news-next{
	    display:none;
	}
	#list-unstyled,#menu-mobile, #menu-mobile-mask{
	    display:none;
	}
	#mobile-menu{
	    display:none;
	}
	#dl-menu{
	    display:none;
	}
	.menu{
	    z-index:4;
	}

}

/*Tamanho padrão para tablets*/
@media only screen and (min-width: 768px) and (max-width: 999px) {
	.header-roxo ul{
	   display:none;
	}
	.social{
	    display:none;
	}
	.menu{
	    z-index:4;
	}
	.container-logo{
	    
	  left:-100px;
}

}

@media only screen and (min-width:485px) and (max-width: 767px){
    .header-roxo{
        margin-top:-124px;
    }
    	.header-roxo ul{
	   display:none;
	}
	.container-logo img{
	    height:70px;
	    margin-left:250px;
	    margin-top:20px;
	}
	.social{
	    display:none;
	}
	.menu{
	    z-index:4;
	}
	.container-logo{
	    
	  left:-100px;
}
}


/*Tamanho padrão para smartphones*/
@media only screen and (min-width:1px) and (max-width: 484px) {
    .header-roxo{
        margin-top:-125px;
    }
	.header-roxo ul, #menu{
		display: none;
	}
	.container-logo img {
	height: 70px;
	margin-left:80px;
	margin-top:20px;
}
.social{
    display:none;
}
	
	   #btn-bars {
	    color:#fff;
	    font-size:25px;
	    position: absolute;
	    left:0;
	    background:none;
	    border:none;
	}
	
	#news h2{
	    font-size: 32px;
	}
	
	#news hr{
	    border-width: 4px;
	}
	.owl-carousel .owl-wrapper-outer{
	    margin-left:25px;
	}
	.thumbnails {
	    text-align:center;
	}
	#news .thumbnails .item-inner {
	margin-left:25px;
}
    #news .thumbnails .item-inner img {
        width:100%;
    }
   .partner{
       display:none;
	
}
   footer{
    margin-top:200px;
    margin-bottom:0px;
}
.copyright-mobile p{
    font-size:20px;
    line-height:0;
}
   footer row p{
       text-align:center;
    line-height: 20px;
}
   footer .text-roxo {
    margin-right:20px;
}
footer .row{
    margin: 0;
}
}

 
 .dl-menu.dl-animate-out-1 {
	animation: MenuAnimOut1 0.4s linear forwards;
}

@keyframes MenuAnimOut1 {
	50% {
		transform: translateZ(-250px) rotateY(30deg);
	}
	75% {
		transform: translateZ(-372.5px) rotateY(15deg);
		opacity: .5;
	}
	100% {
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
}

.dl-menu.dl-animate-in-1 {
	animation: MenuAnimIn1 0.3s linear forwards;
}

@keyframes MenuAnimIn1 {
	0% {
		transform: translateZ(-500px) rotateY(0deg);
		opacity: 0;
	}
	20% {
		transform: translateZ(-250px) rotateY(30deg);
		opacity: 0.5;
	}
	100% {
		transform: translateZ(0px) rotateY(0deg);
		opacity: 1;
	}
}